<div class="container" *ngIf="project">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 projectPadding">
      <h1 class="pTitle centerElement">{{project.title}}</h1>
      <hr class="star-primary">
      <img src="{{project.img}}" class="img-responsive img-centered pImg img-rounded img-thumbnail" alt="">

      <div class="list-group projectMargin">

        <span class="list-group-item">
          <h4 class="list-group-item-heading">Opis</h4>
          <p class="list-group-item-text">{{project.desc}}</p>
        </span>
        <span class="list-group-item">
          <h4 class="list-group-item-heading">Technologie</h4>
          <p class="list-group-item-text">{{project.lang}}</p>
        </span>
        <span class="list-group-item">
          <h4 class="list-group-item-heading">Data</h4>
          <p class="list-group-item-text">{{project.date}}</p>
        </span>
        <a href="{{project.link}}" *ngIf="project.link" target="_blank" class="list-group-item">
          <h4 class="list-group-item-heading">Link</h4>
          <p class="list-group-item-text">{{project.link}}</p>
        </a>
      </div>

      <div class=" centerElement">
        <button [routerLink]="['/']" type="button" class="btn btn-primary btn-lg btn-block"><i class="fa fa-times"></i>Zamknij</button>
      </div>
    </div>
  </div>
</div>
