<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>O mnie</h2>
            <hr class="star-light">
        </div>
    </div>
    <div class="row">
        <div *ngIf="about">
          <div class="col-lg-8 col-lg-offset-2">
              <p>{{about.desc}}</p>
          </div>
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="{{about.link}}" target="_blank" class="btn btn-lg btn-outline">
                  <i class="fa fa-info"></i> {{about.buttonName}}
              </a>
          </div>
      </div>
    </div>
</div>
