<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-12">
                    <h3>Kontakt</h3>
                    <p>Email: moczniak@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; moczniak.org
                </div>
            </div>
        </div>
    </div>
</footer>
