<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Języki</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">




<div *ngFor="let lang of languages" style="row">
  <div class="col-lg-6 lang_fwTitle">
  {{lang.title}}
  </div>
  <div class="col-lg-6 lang_fw">
    <i *ngFor="let loop of counter(lang.star)" class="fa fa-star" aria-hidden="true"></i>
    <i *ngFor="let loop of counter(lang.staro)" class="fa fa-star-o" aria-hidden="true"></i>

  </div>
</div>



        </div>
    </div>
</div>
