<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Projekty</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">


  <div *ngFor="let project of projects" class="col-sm-4 portfolio-item">
    <a (click)="setMock(project)" [routerLink]="['/', project.ID]" class="portfolio-link">
      <div class="caption">
        <div class="caption-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="{{project.img}}" class="img-responsive" alt="{{project.title}}">
    </a>
  </div>


    </div>
</div>
