
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a pageScroll class="navbar-brand" href="#page-top">moczniak.org</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a pageScroll href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a pageScroll href="#portfolio">Projekty</a>
                    </li>
                    <li class="page-scroll">
                        <a pageScroll href="#about">O mnie</a>
                    </li>
                    <li class="page-scroll">
                        <a pageScroll href="#lang">Języki</a>
                    </li>
                    <li class="page-scroll">
                        <a pageScroll href="#fw">Frameworki / Biblioteki</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Moczniak</span>
                        <hr class="star-light">
                        <span class="skills">Web developer - PHP/JAVASCRIPT/TYPESCRIPT/HTML/CSS</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section id="portfolio">
      <mocz-projects></mocz-projects>
    </section>


    <section class="success" id="about">
      <mocz-about></mocz-about>
    </section>

    <section id="lang">
      <mocz-languages></mocz-languages>
    </section>


    <section id="fw"  class="success">
      <mocz-frameworks></mocz-frameworks>
    </section>



    <mocz-footer></mocz-footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
