@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat;400.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Montserrat;700.woff2") format("woff2");
}

@font-face {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        src: url("../fonts/Lato;400.woff2") format("woff2");
}
@font-face {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        src: url("../fonts/Lato;700.woff2") format("woff2");
}
@font-face {
        font-family: "Lato";
        font-style: italic;
        font-weight: 400;
        src: url("../fonts/Lato;400;italic.woff2") format("woff2");
}
@font-face {
        font-family: "Lato";
        font-style: italic;
        font-weight: 700;
        src: url("../fonts/Lato;700;italic.woff2") format("woff2");
}
